.sf-grid {
    position: relative;
    max-width: 1200px;
    margin: 40px auto;
}
.sf-grid-child {
    display: inline-block;
    vertical-align: top;
}
.sf-grid-child:not(:first-child) {}

.sf-grid-child:not(:last-child) {
    margin-right: 10px;
}
.sf-game-container {
    width: 750px;
    height: 500px;
    background: #F8F8F8;
}
.sf-chat {
    position: relative;
    width: 430px;
}
#remotesVideos video {
    width: 396.66px;
    height: calc(396.66px / (4/3));
    margin: 0 auto;
    box-sizing: border-box;
}
#localVideo {
    position: absolute;
    bottom: 1px;
    right: 11px;
    display: block;
    width: 150px;
    height: calc(150px / (4/3));
    box-sizing: border-box;
}
#francois-win {
    position: absolute;
    top:90px;
    left: 55px;
    width: 750px;
    height: 500px;
    overflow: hidden;
    display: none;
}
#francois-win img {
    width: 100%;
    height: auto;
}
nav {
    position: fixed;
    z-index: 10;
}
#rooms-col {
    border-left: 1px solid #ccc;
    min-height: 100vh;
    background-color: #ecf0f1;
    position: fixed;
    right: 0;
}
#page-intro {
    position: relative;
    padding-top: 65px;
}
#page-game {
    position: relative;
    padding-top: 90px;
}
#hook {
    width: 66.6666%;
    margin: 50px auto;
}
.text-center {
    width: 66.6666%;
    margin: 0 auto;
}
#francois, #manuel {
    text-align: left;
}
#francois {
    border-right: 1px solid #ccc;
}
h3 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.videos {
  position: relative;
  height : calc(396.66px / (4/3));
}
